{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Projects{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <h3>Module 1 Project: Personal Website (Flask)</h3>

  <p>
    This project is a multi-page personal website built with Flask using blueprints,
    HTML templates, and CSS styling. The website will be used to store my school and personal projects involving software development.
  </p>

  <p>
    <strong>Link:</strong>
    <a href="https://github.com/Andresscrp/jhu_software_concepts/commit/db24795505bcedd1d1784d060e20088999faf513" target="_blank" rel="noopener">
      Module 1  
    </a>
  </p>
{% endblock content %}
